* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 2rem;
  color: purple;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}
.question-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: row;
}
