*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
  --krauts-color1: #8963ba;
  --krauts-color2: #1b998b;
  --krauts-color3: #f5e663;
  --krauts-color4: #f46036;
  --krauts-color5: #4bb3fd;
}
h1 {
  font-size: 2rem;
  color: var(--krauts-color1);
  text-decoration: underline;
  display: flex;
  justify-content: center;
}
header {
  border-bottom: #1b998b 10px solid;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
}
section {
  position: relative;
  top: 4rem;
  margin: 2rem;
}
.question-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: row;
}
a {
  color: var(--krauts-color3);
}
footer {
  position: fixed;
  bottom: 1rem;
}
nav {
  position: relative;
  align-items: stretch;

  /*  display: flex;
  flex-direction: row;
  justify-content: space-between;*/
}
