@import url(header.css);
@import url(question-card.css);
@import url(answer-buttons.css);
@import url(footer.css);

:root {
  --krauts-color1: #8963ba;
  --krauts-color2: #1b998b;
  --krauts-color3: #f5e663;
  --krauts-color4: #f46036;
  --krauts-color5: #4bb3fd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
